.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(0, 0, 0);
    color: #fff;
  }

  .button1 {
    position: absolute;
    left: 100px;
    top: 570px;
  }

  .button2 {
    position: absolute;
    left: 200px;
    top: 570px;
  }

  .facts {
    position: absolute;
    left: 600px;
    top: 200px;
  }

  .info {
    position: absolute;
    left: 300px;
    top: 570px;
  }
